.muza
{
    background-color: burlywood;
    margin-bottom: 30px;
}
.mag
{
    background-color: cadetblue;
    margin-bottom: 30px;
}
.Bellona
{
    background-color: chartreuse;
    margin-bottom: 30px;
}
.Media{
    background-color: chocolate;
    margin-bottom: 30px;
}
.aleksandria{
    background-color: cornflowerblue;
    margin-bottom: 30px;
}
.Jaguar{
    background-color: darkcyan;
    margin-bottom: 30px;
}
.Foksal{
    background-color: darksalmon;
    margin-bottom: 30px;
}